.development-hero {
   &__wrapper {
      padding-bottom: 16px;
      padding-top: 40px;
      padding-right: 16px;
      padding-left: 40px;
      display: flex;
      flex-direction: column;
      gap: 48px;
      min-height: 700px;
      border-radius: 25px;
      // background: url(../img/static/development/hero.png) center / cover
      //    no-repeat;
      position: relative;
      video {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
         z-index: -1;
      }
   }

   &__main {
      color: white;
      display: flex;
      flex-direction: column;
      flex: 1;
   }

   &__title {
      color: white;
      margin-bottom: 18px;
      h2 {
         display: inline;
         span {
            width: fit-content;
            padding-left: 12px;
            padding-right: 12px;
            border-radius: 25px;
            background-color: #195aff;
         }
      }
      ul {
         transform: translateY(10px);
         display: inline-flex;
         li + li {
            margin-left: -12px;
         }
         li {
            width: 60px;
            height: 60px;
            flex: 0 0 60px;
            border-radius: 50%;
            overflow: hidden;
            img {
               width: 100%;
               height: 100%;
               object-fit: cover;
            }
         }
      }
   }

   &__team {
   }

   &__text {
      font-family: "TT Norms Pro", sans-serif;
      font-size: 24px;
      line-height: calc(34 / 24);
      max-width: 683px;
   }

   &__btn {
      margin-top: 32px;
      background-color: white;
      height: 64px;
      font-size: 20px;
      padding-left: 36px;
      padding-right: 36px;
   }

   &__message {
      align-self: flex-end;
      max-width: 378px;
      background-color: white;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 20px 24px;
      border-radius: 15px;
      font-size: 16px;
   }
   @media (max-width: 1440px) {
      &__wrapper {
         padding-bottom: calc(16 / 1440 * 100vw);
         padding-top: calc(40 / 1440 * 100vw);
         padding-right: calc(16 / 1440 * 100vw);
         padding-left: calc(40 / 1440 * 100vw);
         min-height: calc(700 / 1440 * 100vw);
      }

      &__title {
         margin-bottom: calc(18 / 1440 * 100vw);
         h2 {
            font-size: calc(64 / 1440 * 100vw);
            span {
               padding-left: calc(12 / 1440 * 100vw);
               padding-right: calc(12 / 1440 * 100vw);
            }
         }
         ul {
            transform: translateY(calc(10 / 1440 * 100vw));
            li + li {
               margin-left: calc(-12 / 1440 * 100vw);
            }
            li {
               width: calc(60 / 1440 * 100vw);
               height: calc(60 / 1440 * 100vw);
               flex: 0 0 calc(60 / 1440 * 100vw);
            }
         }
      }
      &__text {
         max-width: calc(683 / 1440 * 100vw);
         font-size: calc(24 / 1440 * 100vw);
      }

      &__btn {
         margin-top: calc(32 / 1440 * 100vw);
         height: calc(64 / 1440 * 100vw);
         font-size: calc(20 / 1440 * 100vw);
         padding-left: calc(36 / 1440 * 100vw);
         padding-right: calc(36 / 1440 * 100vw);
      }

      &__message {
         max-width: calc(378 / 1440 * 100vw);
         gap: calc(20 / 1440 * 100vw);
         padding: calc(20 / 1440 * 100vw) calc(24 / 1440 * 100vw);
      }
   }
   @media (max-width: 992px) {
      &__wrapper {
         padding-bottom: calc(24 / 375 * 100vw);
         padding-top: calc(24 / 375 * 100vw);
         padding-right: calc(24 / 375 * 100vw);
         padding-left: calc(24 / 375 * 100vw);
         min-height: unset;
         gap: calc(146 / 375 * 100vw);
      }

      &__title {
         margin-bottom: calc(16 / 375 * 100vw);
         h2 {
            line-height: calc(33 / 28);
            span {
               padding-left: calc(6 / 375 * 100vw);
               padding-right: calc(6 / 375 * 100vw);
            }
         }
         ul {
            li {
               width: calc(30 / 375 * 100vw);
               height: calc(30 / 375 * 100vw);
               flex: 0 0 calc(30 / 375 * 100vw);
            }
         }
      }
      &__text {
         max-width: unset;
         font-size: calc(14 / 375 * 100vw);
      }

      &__btn {
         margin-top: calc(18 / 375 * 100vw);
         height: calc(50 / 375 * 100vw);
         font-size: calc(16 / 375 * 100vw);
         padding-left: calc(36 / 375 * 100vw);
         padding-right: calc(36 / 375 * 100vw);
      }

      &__message {
         align-self: center;
         max-width: calc(308 / 375 * 100vw);
         gap: calc(20 / 375 * 100vw);
         padding: calc(20 / 375 * 100vw) calc(24 / 375 * 100vw);
         font-size: calc(14 / 375 * 100vw);

         .about-example {
            &__image {
               width: calc(60 / 375 * 100vw);
               height: calc(60 / 375 * 100vw);
               flex: 0 0 calc(60 / 375 * 100vw);
            }
            &__rang {
               font-size: calc(12 / 375 * 100vw);
            }
         }
      }
   }
}
.development-why {
   margin-top: 100px;
   &__wrpaper {
      display: flex;
      flex-direction: column;
      gap: 80px;
   }
   &__title {
   }
   &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 180px;
      row-gap: 145px;
   }

   &__item {
      display: flex;
      flex-direction: column;
      gap: 25px;
   }

   &__subtitle {
      font-family: "Stolzl", sans-serif;
      font-size: 32px;
      line-height: calc(38 / 32);
      color: #151515;
      position: relative;
      width: fit-content;
      img {
         position: absolute;
         bottom: 0;
         left: calc(100% + 36px);
      }
   }

   &__description {
      font-family: "TT Norms Pro", sans-serif;
      font-size: 24px;
      line-height: calc(34 / 24);
      color: #858585;
      span {
         position: relative;
         &::after {
            bottom: -30px;
            left: -10px;
            content: "";
            display: block;
            width: 150px;
            height: 130px;
            background: url(../img/static/development/why1.svg) center / cover
               no-repeat;
            position: absolute;
         }
      }
   }
   @media (max-width: 992px) {
      &__wrpaper {
         gap: calc(40 / 375 * 100vw);
      }
      &__list {
         column-gap: calc(24 / 375 * 100vw);
         row-gap: calc(45 / 375 * 100vw);
      }
      &__item {
         gap: calc(14 / 375 * 100vw);
         &:nth-child(2) {
            .development-why__subtitle img {
               width: calc(90 / 375 * 100vw);
            }
         }
         &:nth-child(3) {
            .development-why__subtitle img {
               width: calc(30 / 375 * 100vw);
            }
         }
         &:nth-child(4) {
            .development-why__subtitle img {
               width: calc(34 / 375 * 100vw);
            }
         }
      }

      &__subtitle {
         font-size: calc(18 / 375 * 100vw);
         img {
            left: calc(100% + (21 / 375 * 100vw));
         }
      }
      &__description {
         font-size: calc(14 / 375 * 100vw);
         span {
            &::after {
               bottom: calc(-13 / 375 * 100vw);
               left: calc(-4 / 375 * 100vw);

               width: calc(81 / 375 * 100vw);
               height: calc(70 / 375 * 100vw);
            }
         }
      }
   }
}
.development-portfolio {
   background-color: #151515;
   padding-top: 48px;
   padding-bottom: 48px;
   margin-top: 100px;
   &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 48px;
   }

   &__title {
      color: white;
      padding-left: calc((100vw - 1308px) / 2);
   }

   &__main {
      .swiper {
         padding-left: calc((100vw - 1308px) / 2);
         padding-right: 48px;
         height: 660px;
      }
      .swiper-wrapper {
      }
      .swiper-slide {
         max-height: 561px;
         max-width: 783px;
         &.swiper-slide-active {
            .development-portfolio {
               &__content {
                  opacity: 1;
               }
               &__plus {
                  opacity: 1;
               }
            }
         }
      }
   }

   &__image {
      position: relative;
      border-radius: 19px;
      overflow: hidden;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   &__plus {
      position: absolute;
      width: 70px;
      height: 70px;
      background-color: #195aff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      bottom: 33px;
      right: 45px;

      opacity: 0;
      transition: 0.7s;

      &:hover {
         background-color: #195affaf;
      }
   }
   &__content {
      display: flex;
      gap: 80px;
      margin-top: 45px;
      opacity: 0;
      transition: 1.1s;
   }

   &__subtitle {
      font-family: "TT Norms Pro", sans-serif;
      font-size: 28px;
      font-weight: 700;
      line-height: calc(39 / 28);
      color: white;
   }

   &__description {
      font-family: "TT Norms Pro", sans-serif;
      font-size: 20px;
      line-height: calc(28 / 20);
      color: #ffffff8c;
   }

   &__btn {
      background-color: #ffffff;
      height: 64px;
      padding-left: 36px;

      padding-right: 36px;
      font-size: 20px;
      position: absolute;
      bottom: 100px;
      right: 100px;
      color: #151515;
      cursor: pointer;
   }
   &__navigation {
      align-items: center;
      position: absolute;
      bottom: 0;
      left: calc((100vw - 1308px) / 2);
      display: flex;
      gap: 12px;
   }
   &__nav {
      margin-top: unset;
      position: relative;
      top: unset;
      border-radius: 50px;
      border: 1px solid white;
      width: 65px;
      left: unset;
      right: unset;
      svg {
         width: unset;
         height: unset;
      }
      &::after {
         display: none;
      }
      &_prev {
      }

      &_next {
         // transform: translateX(calc(100% + 12px));
      }
   }
   @media (max-width: 1440px) {
      &__title {
         color: white;
         padding-left: 12px;
      }

      &__main {
         .swiper {
            padding-left: 12px;
         }
      }
      &__navigation {
         left: 12px;
      }
   }
   @media (max-width: 1200px) {
      &__btn {
         bottom: 0;
      }
   }
   @media (max-width: 992px) {
      padding-top: calc(25 / 375 * 100vw);
      padding-bottom: calc(25 / 375 * 100vw);
      &__wrapper {
         gap: calc(18 / 375 * 100vw);
      }
      &__title {
         font-size: calc(24 / 375 * 100vw);
      }
      &__main {
         .swiper {
            min-height: calc(345 / 375 * 100vw);
            height: fit-content;
            padding-right: 12px;
         }
         .swiper-slide {
            max-height: unset;
            min-height: calc(265 / 375 * 100vw);
            height: fit-content;
            max-width: calc(294 / 375 * 100vw);
         }
      }

      &__image {
         border-radius: 7px;
      }

      &__plus {
         width: calc(34 / 375 * 100vw);
         height: calc(34 / 375 * 100vw);
         bottom: calc(15 / 375 * 100vw);
         right: calc(15 / 375 * 100vw);
      }
      &__content {
         flex-direction: column;
         gap: calc(10 / 375 * 100vw);
         margin-top: calc(21 / 375 * 100vw);
      }

      &__subtitle {
         font-size: calc(16 / 375 * 100vw);
      }

      &__description {
         font-size: calc(14 / 375 * 100vw);
      }

      &__btn {
         right: 12px;
         height: calc(50 / 375 * 100vw);
         padding-left: calc(36 / 375 * 100vw);
         padding-right: calc(36 / 375 * 100vw);
         font-size: calc(16 / 375 * 100vw);
      }
      &__navigation {
         left: unset;
         position: relative;
         bottom: unset;
      }
      &__nav {
         width: calc(42 / 375 * 100vw);
         height: calc(31 / 375 * 100vw);
      }
      &__nav,
      &__btn {
         position: relative;
         top: unset;
         left: unset;
         right: unset;
         bottom: unset;
      }
      &__footer {
         display: flex;
         flex-direction: row-reverse;
         justify-content: space-between;
         margin-top: 30px;
      }
   }
}
.development-technologies {
   margin-top: 60px;
   &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 30px;
   }

   &__title {
   }

   &__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 15px;
      li {
         display: flex;
         align-items: center;
         justify-content: center;
         gap: 48px;
         background-color: #f8f8f8;
         height: 158px;
         border-radius: 15px;
         font-family: "Stolzl", sans-serif;
         font-size: 24px;
         line-height: calc(29 / 24);
         color: #151515;
         &:nth-child(1) {
            grid-column: span 2;
         }
      }
   }
   @media (max-width: 992px) {
      &__list {
         grid-template-columns: repeat(2, 1fr);
         li {
            height: calc(95 / 375 * 100vw);
            gap: calc(25 / 375 * 100vw);
            font-size: calc(16 / 375 * 100vw);
         }
      }
   }
}
.development-banner {
   .portfolio-banner {
      &__title {
         span {
            display: inline-flex;
            align-items: center;
            gap: 12px;
         }
      }
      &__wrapper {
         // background: url(../img/static/development/banner-bg.png) center / cover
         //    no-repeat;
         background: none !important;
      }
   }
}
