.h1 {
   font-family: "Stolzl", sans-serif;
   font-size: 64px;
   line-height: calc(77 / 64);
   color: #151515;

   @media (max-width: 992px) {
      font-size: calc(28 / 375 * 100vw);
   }
}
.h2 {
   font-family: "Stolzl", sans-serif;
   font-size: 48px;
   line-height: calc(57 / 48);
   color: #151515;
   @media (max-width: 992px) {
      font-size: calc(28 / 375 * 100vw);
   }
}
.h3 {
   font-family: "Stolzl", sans-serif;
   font-size: 40px;
   line-height: calc(48 / 40);
   color: #151515;
   @media (max-width: 992px) {
      font-size: calc(24 / 375 * 100vw);
   }
}

.btn {
   height: 33px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 14px;
   line-height: calc(21 / 14);
   font-weight: 500;
   padding-left: 20px;
   padding-right: 20px;
   width: fit-content;
   border-radius: 56px;
   font-family: "TT Norms Pro";
   cursor: pointer;
}
.collapse:not(.collapse_show) {
   display: none;
}
